<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9e5c6f97-751f-4de4-89b2-e785d8a0ba69/resourceGroups/TestNotificationGroup/providers/Microsoft.Web/sites/SaqlainNotificationsTestApi</ResourceId>
    <ResourceGroup>TestNotificationGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://saqlainnotificationstestapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://saqlainnotificationstestapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$SaqlainNotificationsTestApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>